/* home.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0ebe1;
    overflow: auto;
}

.container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid #d4a373;
}

header h1 {
    margin: 0;
    font-size: 32px;
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
}

header a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #206cb3;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
    flex-shrink: 0;
}

header a:hover {
    background-color: #1a27d4;
}

.page {
    flex: 0 0 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

main {
    padding: 20px 0;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vw;
    transition: transform 0.3s ease;
    overflow: hidden;
}

#container.scrolling-horizontal {
    overflow-x: auto;
}

#table-container {
    max-height: 400px;
    overflow: auto;
    width: 100%;
    margin-top: 20px;
}

section#map {
    text-align: center;
    margin-bottom: 20px;
    padding: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 2px solid #d4a373;
    color: white;
    font-size: 24px;
}

.divider {
    height: 2px;
    background-color: #d4a373;
    margin: 20px 0;
}

section#list-view {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #d4a373;
}

section#list-view h2 {
    margin-top: 0;
    font-size: 20px;
    color: #2c3e50;
    font-weight: bold;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-left: none;
    border-radius: 0 5px 5px 0;
    background-color: #e67e22;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #d35400;
}

#table-home {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

#table-home thead {
    background-color: #e67e22;
    color: white;
}

#table-home th,
#table-home td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

#table-home tbody tr:nth-child(even) {
    background-color: #ece9e1;
}

#table-home tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

#table-home tbody tr:hover {
    background-color: #f1f1f1;
}

#adminBtn {
    padding: 12px 25px;
    font-size: 18px;
    color: white;
    background-color: #16a085;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

#adminBtn:hover {
    background-color: #1abc9c;
    transform: translateY(-4px);
}

#adminBtn:active {
    background-color: #16a085;
    transform: translateY(2px);
}

.view-details-link {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 8px;
    color: #007bff;
    background-color: #e9ecef;
    border-radius: 12px;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid #007bff;
    transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
}

.view-details-link:hover {
    background-color: #007bff;
    color: #fff;
    transform: scale(1.05);
}

.view-details-link:active {
    background-color: #0056b3;
    transform: scale(0.98);
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

/* admiin.css */
#admin{
    overflow: scroll;
}
.header-ad {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
    color: white;
}

.header-ad .username-ad {
    font-size: 18px;
    font-weight: bold;
}

.header-ad h1 {
    margin: 0;
    font-size: 32px;
    flex-grow: 1;
    text-align: center;
}
.home-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.home-icon {
    width: 24px;
    height: 24px;
}

.header-ad a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: #e67e22;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.header-ad a:hover {
    background-color: #d35400;
}

.table-container-ad {
    max-width: 1200px;
    overflow: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.fixed-bottom-end {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.table-ad {
    width: 100%;
    border-collapse: collapse;
    height: auto;
    margin-bottom: 20px;
}

.table-ad thead {
    background-color: #e67e22;
    color: white;
}

.table-ad th,
.table-ad td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-ad tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-ad tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-ad {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-btn-ad {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    z-index: 1000;
    border-radius: 5px;
    background-color: #27ae60;
    color: white;
    transition: background-color 0.3s;
}

.add-btn-ad:hover {
    background-color: #229954;
}

.btn-edit-ad {
    background-color: #f39c12;
    color: white;
}

.btn-edit-ad:hover {
    background-color: #e67e22;
}

.btn-del-ad {
    background-color: #c0392b;
    color: white;
}

.btn-del-ad:hover {
    background-color: #a93226;
}
/* modal.css */
.modal.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
    max-width: 600px;
    margin: 30px auto;
    border-radius: 10px;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.modal-header {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.modal-header .modal-title {
    margin: 0;
    font-size: 24px;
}

.modal-header .btn-close {
    color: white;
    background-color: transparent;
    border: none;
}

.modal-body {
    padding: 20px;
}
.car-img {
    width: 250px;
    height: 500px;
    object-fit: cover;
}

.modal-footer {
    background-color: #f8f9fa;
    padding: 15px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-footer .btn-primary {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.modal-footer .btn-primary:hover {
    background-color: #229954;
}

.modal-footer #esito {
    margin-right: auto;
    color: #2c3e50;
    font-size: 16px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    border-color: #27ae60;
    box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
}
/* spec.css */

.container-sp {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-sp {
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

.header-sp h1 {
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
}

.header-sp a {
    text-decoration: none;
    padding-right: 20px;
    font-size: 16px;
    color: white;
    background-color: #206cb3;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-sp a:hover {
    background-color: #1a27d4;
}

.homebtn-sp {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 10px;
}

.homebtn-sp:hover {
    background-color: #7c420f;
}

.description-sp {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #d4a373;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.description-sp h2 {
    font-size: 24px;
    color: #2c3e50;
    font-weight: bold;
}

#myCarousel {
    position: relative;
    max-width: 100%;
    margin: 20px 0;
    border-radius: 8px;
    overflow: hidden;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-item img {
    width: 100%;
    border-radius: 8px;
}

.description-sp p {
    font-size: 16px;
    margin-top: 40px;
    color: #7f8c8d;
    line-height: 1.6;
}

#title-sp {
    font-size: 2rem;
    color: #ff5722;
    margin-bottom: 10px;
    font-weight: bold;
}