@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

body {
    background-color: #d4dadc;
    font-family: "Figtree", serif;
}

.leaflet-tile {
    filter: invert(0%);
}

#map {
    border: none !important;
    outline: none !important;
}

h1 {
    color: #3d4041;
    font-weight: bold;
}


.visible {
    display: block;
}

.hidden {
    display: none;
}
#map { width: 1100px; height: 500px; }

#Password {
    margin-bottom: 20px;
}

.immaginiDetail {
    width: 100%;
    overflow: hidden;
}



.titoloClass{
    text-align: start;

    font-weight: bold;
    width: 1000px;
    font-size: 55px;
}

.cTitolo {
    text-align: center;
}


.table-gray {
    width: 100%;
    border-collapse: collapse;
    background-color: #3d4041;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.table-gray th,
.table-gray td {
    padding: 10px;
    text-align: left;
    border: 1px solid #777;
}

.table-gray th {
    background-color: #666;
}


.pd-top-3{
    margin-top: 13px;
}

.txt-bold {
    font-weight: bold;
}

.img-hover-shadow {
    display: block;
    max-width: 100%;
    height: auto;
    transition: box-shadow 0.3s ease-in-out;
}

.img-hover-shadow:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}


.immaginiPoint {
    width: 200px;
    display: block;
    margin: 5px auto;
    border-radius: 10px;
}

.centrato{
    text-align: center;
}

.btnAvantiIndietro {
    position: absolute;
    top: 50%;
    background-color: #818789;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 5px;
    min-height: 60px;
    min-width: 60px;
    font-weight: bold;
    transition: box-shadow 0.2s ease-in-out;
}

.btnAvantiIndietro:hover {
    background-color: #9da1a4;
}

.rigaAnimata {
    transition: background-color 0.1s ease-in-out;
}

.rigaAnimata:hover {
    background-color: #494d4e;
    box-shadow: 5px 5px 15px rgba(28, 28, 28, 0.3);
}

.dataI {
    font-weight: bold;
    opacity: 70%;
    
}

.tabelMorti{
    margin-top: 40px;
    padding-top: 40px;
    text-align: center;
    border-radius: 17px;
    background-color: #494d4e;
    color: white;
    font-weight: bold;
    box-shadow: 5px 5px 15px rgba(79, 79, 79, 0.1);
}